body
{
  background-color: #ACB7AC;
  margin: 0px;
}

div.CENTER
{
  width:40%;
  margin-top: 2%;
  margin-right: auto;;
  margin-left: auto;
  margin-bottom: auto;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

p.header
{
  margin-top: auto;
  margin-left: 0px;
  /*margin-left: 230px;*/
  margin-bottom: 20px;
  border: 15px solid #FFFFFF;
  background-color: #FFFFFF;
  font-family: sans-serif;
  font-size: 26;
}

p.login
{
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 28px;
}

div.inputBoxBorders
{
  margin-top: 70px;
  margin-left: 20px;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 14px;
  width: 300px;
  margin: 0 auto;
}

p.loginIn
{
  display: block;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
}

p.submit
{
  display: block;
  margin-bottom: -40px;

  font-family: sans-serif;
  font-size: 14px;
}

p.forgotten
{
  display: block;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  width: 1000px;
  font-family: sans-serif;
  font-size: 12px;
  color: blue;
}

.textBoxes
{
  width: 300px;
  height: 30px;
}

.textBoxes2
{
  width: 300px;
  height: 30px;
  margin-left: 3px;
}
